<!doctype html>
<html lang="en">
  <head>
    <title>Chart.js example</title>
  </head>
  <body>
    <!-- <div style="width: 500px;"><canvas id="dimensions"></canvas></div><br/> -->
    <div style="width: 800px;">
        <canvas #stackedBarChart></canvas>
    </div>
    <!-- <script type="module" src="dimensions.js"></script> -->
    <script type="module" src="acquisitions.js"></script>
  </body>
</html>
 
<!-- <ng-container *ngFor="let result of news">
    <p>{{result.date}}</p>
    <ng-container *ngFor="let medium of result.mediumBuckets">
        <p>{{medium.docCount}}</p>
        <p>{{medium.key}}</p>
    </ng-container>
</ng-container> -->
  