label, input{
    font-family: 'Trebuchet MS';
    height: 20px;
    
}

button{
    background-color: #10B981;
    color: white;
    border-width: 0;
    padding: 5px 10px;
    border-radius: 4px;
    height: auto;
}

button:hover {
    background-color: #0ea371;
  }

.input-container{
    padding-bottom:30px;
    display: flex;
}

.input-area {
    margin-right: 15px;
}
.input-area label{
    background-color: #C9C9C9;
    padding: 7px;
    border-radius: 10px 0px 0px 10px;
}
.input-area input{
    background-color: whitesmoke;
    padding: 7px;
    border-radius: 0px 10px 10px 0px;
    border: 0px;
}

.button-container {
    display: flex;
    align-items: center;
    height: 10px;
}

.loader {
    margin: 10px;
    border: 2px solid #f3f3f3;
    border-top: 2px solid #555555;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 0.7s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }